@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400);

h1, h2, h3, h4, h5, h6, p, a, body {
font-family:"Alegreya Sans";
font-weight:400;
}

p, a, body {
font-size:font-size:200%;
}

i{
font-family: Georgia;
}