<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Christian Rubba">
        <meta name="keywords" content="R,webscraping,data collection,statistics,Simon Munzert,Christian Rubba,Peter Meissner,Dominik Nyhuis">

        <title>Automated Data Collection with R - {{ page.title }}</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="/img/icon-title-bar4.ico" />

        <!-- CSS -->
        <link rel="stylesheet" href="/css/normalize.css">

        <!-- Load fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto+Slab:400,300|Inconsolata' rel='stylesheet' type='text/css'>

         <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/adcr.css">
<!--         <link rel="stylesheet" href="/css/repsonsive.css"> -->

<!--         <link rel="stylesheet" href="/css/tooltip.css"> -->
        <link rel="stylesheet" href="/img/icons/font-awesome-4.2.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="/css/blog-post.css"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

         <!-- Load JS -->
        <script type="text/javascript" src="/scripts/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/tooltip.js"></script>
        <script type="text/javascript"src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

        


    </head>