RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
# Ordnerbrowsing verbieten
Options -Indexes
# enable expirations
ExpiresActive On

#AddHandler application/x-httpd-php .htm .html
#AddType application/x-httpd-php .htm .html

AddHandler php5-cgi .html .htm

AddHandler php5-cgi .html .htm

#AddHandler x-httpd-php5-3 .php
#AddHandler application/x-httpd-php5 .php

#AddHandler application/x-httpd-php5 .php
#AddType application/x-httpd-php5 .htm .html